/*
HTML RESET
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/*
MAIN
*/

body {
    display: flex;
    background-color: #f5f5f5;
}

#sidebar {
    background-color: white;
    margin: 10px;
    border-style: none;
    border-radius: 10px;
    flex: 1;
    height: 100vh;
}

#main {
    flex: 4;
    height: 100vh;
}


/*
TASKS
*/

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 48px;
  padding: 0px 30px;
  border-radius: 8px
}

.addtask {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  height: 48px;
  border-style: none;
  border-radius: 8px;
  background-color: #cdcdcd;
}

.tasklist {
  padding: 50px;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tasklist h2 {
  margin-bottom: 20px;
}

.done {
  text-decoration: line-through;
}

.trash {
  height: 1rem;
}